* {
  box-sizing: border-box;
  color: #111;
}

html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 5rem;
  background: #e9e9eb;
  margin-bottom: 2rem;
  box-shadow: 0 1px 11px 3px rgba(0, 0, 0, 0.338);
}


.nav--logo {
  height: 100px;
}

.nav-link {
font-size: 30px;
}

.card--producto{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 5rem;
  background: #e9e9eb;
  margin-bottom: 2rem;
  box-shadow: 0 1px 11px 3px rgba(0, 0, 0, 0.338);
}

.item--image{
  width: 271px;
  height: 377px;
  margin-right: 1rem;
}

/* ItemCount */
.item-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 5rem;
  background: #e9e9eb;
  margin-bottom: 2rem;
  box-shadow: 0 1px 11px 3px rgba(0, 0, 0, 0.338);
}